body {
	font: 20px, Arial, sans-serif;
}

.margin {
	padding-top: 10px;
	padding-bottom: 50px;
}

.navbar {
	background-color: #CC46A7;
}

.quem-somos {
	background-color: #8181F7;
	color: white;
	
}

.parceiros {
	background-color: #6C5779 ;
}

.servicos {
	background-color: #57795C ;
}

.bg-footer {
	background-color: #CC46A7;
	padding-bottom: 1px;
}
